@tailwind base;
@tailwind components;
@tailwind utilities;

/* SIDEBAR BUTTON:  */

.key {
  display: inline-block;
  border-radius: 50%;
  margin-right: 4px;
}
/* key */
.category-key {
  width: 12px;
  height: 12px;
}
/* color code in task buttons on side bar  */
.project-key {
  width: 16px;
  height: 16px;
}

.purple {
  background-color: #540d6e;
}

.red {
  background-color: #ee4266;
}

.yellow {
  background-color: #ffd23f;
}

.mint {
  background-color: #3bceac;
}

.white {
  background-color: #fff;
}
