@tailwind base;
@tailwind components;
@tailwind utilities;

/* SIDEBAR BUTTON:  */

.category-key {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
}
.purple {
  background-color: #540d6e;
}

.red {
  background-color: #ee4266;
}

.yellow {
  background-color: #ffd23f;
}

.mint {
  background-color: #3bceac;
}

.white {
  background-color: #fff;
}
